/* Forest image url : https://stocksnap.io/photo/H5OI8Y144F */
/**********************************************************************/
/* Common template styling needed for consistent layout on the pages. */
/**********************************************************************/
html, body {
	height: 100%;
	margin: 0;
	background: url(images/forest.jpg);
	background-size: cover;
	color: #223536;
}

a {
	color: #223536;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

.login {
	padding: 30px;
}

.main-wrapper {
	padding: 20px;
	max-width: 100%;
}

.main-contents-panel {
	background-color: rgba(255, 255, 255, 0.4);
	margin: 10px;
	width: auto;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	box-shadow: inset 0 0 4px #000000;
	border-radius: 10px;
}

.sections {
	display: flex;
	list-style: none;
	width: 100%;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid black;
}
/**********************************************************************/

/**********************************************************************/
/* Header styling. Used for the header of most of the apps pages:     */
/**********************************************************************/
.heading-wrapper {
	padding: 10px;
	display: flex;
	justify-content: center;
}

.heading-title {
	font-size: 2.5em;
	/*color: #2f3a40;*/
}

.header-button {
    /*color: white;*/
    letter-spacing: .8px;
    background: transparent;
    font-size: 1.3em;
    border: none;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.7);
    margin: 8px 0 10px;
    cursor: pointer;
    align-self: flex-end;
    padding-right: 30px;
}

.header-button:hover {
	border-radius: 10px;
	opacity: .8;
}
/**********************************************************************/


/**********************************************************************/
/* Catalog Main template for sections Locations and Latest Entries.   */
/**********************************************************************/
.catalog-sections {
	padding: 5px 10px 20px 10px;
	height: auto;
}

.locations-wrapper, .latest-trails-wrapper {
    padding: 0 30px;
}

.locations-wrapper {
	border-right: 1px solid black;
}

.locations-section {
	padding: 15px 30px;
}

.section-header {
	margin: 10px;
	margin-left: 0;
}

.trails-list {
	padding: 0 5px;
	display: flex;
    flex-flow: column wrap;
	align-items: baseline;
}

.trails {
	padding: 8px 10px;
}

.location, .trail {
	font-size: 1.05em;
}

.trail {
	padding: 10px 30px;
}

.location:hover, .trails:hover, .navigation-link:hover,
.top-link:hover, .trail:hover {
	color: black;
}

.trails-list {
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
}

.trails:hover {
	border: 1px rgba(0, 0, 0, 0.7) solid;
	font-style: italic;
}

/**********************************************************************/

.latest-trails-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.latest-trail {
	padding: 5px 30px;
}

/* Separate pages */
.top-link {
	padding: 3px 30px;
}


.trail-details-section {
	padding: 0 25px;
}

.trail-location {
	font-size: 1em;
}



/**********************************************************************/

.loginButtons {
	align-items: center;
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
}
/**********************************************************************/

